body {
    background: black;
    margin: 0;
    padding: 0;
    width:100%;
    font-family: sans, sans-serif;
}

#input {
    display:none;
    width:100%;
}

#input input {
    color: white;
    background: black;
    border: 0;
    font-family: inherit;
}

#text, #input {
    color: white;
    top: 30%;
    position: absolute;
}

#input input, #text {
    width:100%;
    font-size: 72pt;
    font-weight: bolder;
    text-transform: uppercase;
    text-align:center;
}

#uri {
    display: none;
    color: #EEE;
    width: 100%;
    font-size: 30pt;
    text-align: center;
}
